@layer theme, base, components, utilities;

@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/utilities.css' layer(utilities);

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

.step-nav__home {
  width: auto !important;
  height: auto !important;
}
